/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family);
  background-color: var(--color-bg);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  position: relative;
}

.decorated-zone {
  padding: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  align-self: flex-end;
  justify-self: flex-start;
  margin-inline-start: 20px;
  margin-block-end: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  align-self: flex-start;
  justify-self: flex-end;
  margin-block-start: 20px;
  margin-inline-end: 20px;
}

.header__theme-menu-list {
  display: flex;
  font-size: 18px;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  font-weight: 400;
  line-height: 22px;
  border: none;
  outline-offset: 2px;
  padding: 0px 13px 2px 13px;
  cursor: pointer;
  color: var(--button-text);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-shadow);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__title {
  display: flex;
  flex-direction: column;
  padding-block-start: 235px;
  padding-block-end: 115px;
  gap: 78px;
}

.decoration__text {
  display: flex;
  position: absolute;
  color: var(--color-shadow);
  text-transform: uppercase;
  justify-self: flex-end;
  padding-inline-end: 30px;
  padding-block-start: 20px;
  gap: 13px;
}

.decoration__text::after {
  content: "";
  width: 9px;
  height: 9px;
  background: var(--color-shadow);
  border-radius: 50%;
  align-self: center;
  box-shadow: 0 0 4px 2px;
}

.header__title-text {
  margin-inline-start: -20px;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--main-title);
  text-shadow: 4px 4px var(--main-color-shadow-title);
}

.title__text {
  display: flex;
  align-self: flex-end;
  inline-size: 50%;
  margin: 0;
}

.title-decor {
  background-color: var(--bg-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--quote-text);
}

.section__post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: auto; */
  column-gap: 20px;
  row-gap: 10px;
  padding: 60px 20px 10px 20px;
}

.post__title {
  grid-column: 1/1;
  grid-row: 1/4;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--post-title);
}

.post__title-text {
  grid-column: 2/4;
}

.title__text-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: var(--bg-title-color);
  color: var(--color-title);
}

.post__text {
  grid-column: 2/4;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text);
  padding-block-end: 10px;
}

.post__text-effect {
  text-shadow: 2px 2px var(--effect-shadow);
  text-decoration: none;
  cursor: pointer;
}

.post__text-effect:focus {
  outline: none;
  border: 1px solid currentColor;
}

.post__text-effect:hover {
  border-bottom: 1px solid currentColor;
}

.title__text-caption {
  grid-row: 4/4;
  grid-column: auto;
  margin-block-start: 10px;
}

div:nth-of-type(2) .post__text:nth-of-type(1) {
  grid-column: 1/1;
}

div:nth-of-type(2) .post__text:nth-of-type(2) {
  grid-column: 2/2;
}

div:nth-of-type(2) .post__text:nth-of-type(3) {
  grid-column: 3/3;
}

div:nth-of-type(3) .post__title-text:nth-of-type(1) {
  margin-block-end: 3px;
  margin-block-start: 2px;
}

div:nth-of-type(4) .section__post {
  gap: 20px;
}

.post__pucturies {
  grid-column: 1/4;
}

.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__sunset {
  grid-column: span 2;
}

.card__tape {
  grid-row: span 2;
}

.card__books {
  grid-column: span 1;
}

.card__ice-cream {
  grid-row: span 2;
}

.card__street {
  grid-column: span 2;
}

.footer {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-block-start: 50px;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--footer-color-title);
  text-shadow: 2px 2px var(--footer-color-shadow-title);
  padding-block: 262px;
}

@media (width < 1024px) and (width >= 768px),
  (width < 768px) and (width >= 375px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .section__post {
    column-gap: 20px;
    row-gap: 10px;
    padding-block-start: 59px;
  }
  .title__text-caption {
    grid-column: 1/4;
    grid-row: auto;
  }
  .header__title-text {
    color: var(--main-title-theme);
    text-shadow: 4px 4px var(--main-title-shadow-theme);
  }
  div:nth-of-type(2) .post__text:nth-of-type(1) {
    grid-column: 1/4;
  }
  div:nth-of-type(2) .post__text:nth-of-type(2) {
    grid-column: 1/4;
  }
  div:nth-of-type(2) .post__text:nth-of-type(3) {
    grid-column: 1/4;
  }
  .footer__title {
    color: var(--main-title-theme);
    text-shadow: 2px 2px var(--main-title-shadow-theme);
  }
}

@media (width < 1024px) and (width >= 768px) {
  .page {
    background-size: auto 1024px;
  }
  .header__theme-menu-list {
    padding-block-start: 172px;
  }
  .header__title {
    padding-block-start: 150px;
    padding-block-end: 164px;
    gap: 130px;
  }
  .header__title-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .title__text-caption {
    margin-block-start: 10px;
  }
  div:nth-of-type(2) .post__text:nth-of-type(1) {
    padding: 0;
  }
  div:nth-of-type(2) .post__text:nth-of-type(2) {
    padding: 0;
  }
  div:nth-of-type(2) .post__text:nth-of-type(3) {
    padding: 0 0 10px 0;
  }
  .post__title-text {
    margin-inline-start: 7px;
  }
  .post__text {
    padding-inline-start: 6px;
  }
  div:nth-of-type(3) .post__title-text:nth-of-type(1) {
    margin-block-end: 3px;
    margin-block-start: 3px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block: 414px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .page {
    background-size: auto 668px;
  }
  .header__theme-menu-list {
    padding-block-start: 65px;
  }
  .header__title {
    padding-block-start: 70px;
    padding-block-end: 55px;
    gap: 55px;
  }
  .decorated-zone {
    padding: 10px;
  }
  .header__title-text {
    margin: 0;
    line-height: 96px;
  }
  .title-decor {
    width: 100%;
  }
  .decorated-zone::before {
    margin-inline-start: 10px;
    margin-block-end: 10px;
  }
  .decorated-zone::after {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }
  .section__post {
    padding-block: 40px 0;
    padding-inline: 10px;
  }
  .post__title {
    grid-column: 1/4;
    padding-block-end: 10px;
  }
  .post__title-text {
    grid-column: 1/4;
  }
  .title__text-decor {
    grid-column: 1/4;
  }
  .post__text {
    grid-column: 1/4;
  }
  .title__text-caption {
    margin: 0;
  }
  .title__text-item {
    grid-column: 1/4;
  }
  div:nth-of-type(3) .post__title-text:nth-of-type(1) {
    margin-block-end: 3px;
    margin-block-start: 0px;
  }
  div:nth-of-type(4) .section__post {
    gap: 10px;
  }
  .section__post__picturies {
    gap: 10px;
    padding-block-end: 40px;
  }
  .card__img {
    grid-column: span 3;
  }
  .footer {
    margin-block-start: 41px;
  }
  .footer__title {
    padding-block: 248px;
  }
}
